/**
* CSS for FliKISS app
**/

body {
    font-family:"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    background-color:#222;
}

h1, h2, h3, h4, h5 {
    font-family:inherit;
    color:#9CB28E;
}

h5 {
    font-weight:bold;
}

a, a:visited, a:hover {
    color:#65A101;
}

nav {
    padding:2px;
}

nav li a{
    width:100%;
    display:inline-block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow : ellipsis;
    text-decoration:none;
    font-weight:bold;
}

nav li a:hover {
    text-decoration:underline;
}

input[type="submit"],
input[type="submit"]:hover {
    background-color:#98B058;
    font-family:inherit;
}

table {
    width:100%;
    border-collapse:collapse;
}

th {
    background-color:#98B058;
    border:1px solid black;
}

td {
    border:1px solid black;
}

code {
    font-family: "Source Code Pro",monospace;
    background-color: #EEEFF2;
    margin:0.1em;
}

pre {
    white-space: pre-wrap;
}

#header {
    background:-moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(72,72,72,0.8) 100%); 
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(72,72,72,0.8))); 
    background:-webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(72,72,72,0.8) 100%); 
    background:-o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(72,72,72,0.8) 100%); 
    background:-ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(72,72,72,0.8) 100%); 
    background:linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(72,72,72,0.8) 100%); 
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#cc484848',GradientType=0); 
    border-bottom:5px solid #98B058;
}

#logo {
    margin-left:10px;
    max-height:100px;
}

#content {
    min-height:300px;
}

#page-container ul {
    list-style-type:disc;
}

#footer {
    padding:5px;
}

.container {
    -webkit-box-shadow:2px 2px 50px 0px rgba(0,0,0,0.75);
    -moz-box-shadow:2px 2px 50px 0px rgba(0,0,0,0.75);
    box-shadow:0px 0px 1em 0px #aaa;
    background-color:#fff;
}

.container .columns {
    margin-left:5px;        
}

.codehilite {
    background-color:#EEEEDD;
    margin:10px;
    padding:2px;
}

.toolbar {
    margin-top:8px;
    margin-bottom:8px;
}

.toolbar span {
    width:15px;
    height:15px;
    display:inline-block;
    margin:5px;
    cursor:pointer;
    text-align:center;
    color:black;
}

.toolbar span:hover {
    background-color:#98B058;
}

.CodeMirror {
    border:1px solid #CCC;
    margin-bottom:8px;
}

.info {
    color:#468847;
    background-color:#DFF0D8;
    border:1px solid #468847;
    padding:5px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    display:inline-block;
    margin-bottom:15px;
    width:90%;
}

.error {
    color:#B94A48;
    background-color:#F2DEDE;
    border:1px solid #B94A48;
    padding:5px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    display:inline-block;
    margin-bottom:15px;
    width:90%;
}

.admonition {
    width:100%;
    -moz-box-shadow:0px 0px 1em 0px #222;
    -webkit-box-shadow:0px 0px 1em 0px #222;
    box-shadow:0px 0px 1em 0px #222;
}

.admonition p {
    margin:0;
    padding:2px;
}

.admonition-title {
    color:#fff;
    background-color:#98B058;
    font-weight:bold;
}

.note .admonition-title {
    background-color:#268BD2;
}

.warning .admonition-title {
    background-color:#CB4B16;
}
